# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Configuration files
*.yaml
!lookups.yaml

# Build target directory
target/

# log files
*.log

# intermediate build files
*syso