name: Codetest
on:
  push:
    branches:    
      - '**'
jobs:

  codetest_build:
    name: Codetest
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go 1.16
        uses: actions/setup-go@v1
        with:
          go-version: 1.16
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v1

      - name: Get dependencies
        run: make get

      - name: Codetest
        run: make codetest